<style> 
#header td{
  width: 25%;
  text-align: center; 
  background-color: #efefef;
}

.article_line{
  border: 1px solid #efefef;
  padding: 10px;
}

.article_line_summary{
  display: none;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
  $(".article_line").click(function(e){
    $(this).find(".article_line_summary").toggle();
  });

  $("#force_refresh").click(function(){
    $.ajax({
      url: "/article/<%= article['article_id'] %>/refresh",
      success: function(){
        window.location = window.location
      }
    })
  });

});
</script>

<h1><%= article['article']['title'] %></h1>

<div>
  <span id="force_refresh">Refresh</span>
</div>

<table id="header" class="display" cellspacing="0" width="100%">
<tr>
  <td><%= article['source'] %></td>
  <td><%= article['article']['authors'].join( ' and ' ) if article['article'].has_key?( 'authors' ) %></td>
  <td><%= Time.at(article['article']['update_time'].to_f).strftime( "%D %T" ) %></td>
  <td>Filler</td>
</tr>
</table>

<% article['article']['body'].each do |line| %>
<div class="article_line">
  <%= line['body'] %>
  <div class="article_line_summary">
  <table width="100%">
    <tr>
      <td><%= line['sentiment']['score'].to_f if line.has_key?( 'sentiment' ) %></td>
      <td><%= line['sentiment']['magnitude'].to_f if line.has_key?( 'sentiment' ) %></td>
    </tr>
  </table>
  </div>
</div>
<% end %>
