<style>
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:5px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

<style> 
#header td{
  width: 25%;
  text-align: center; 
  background-color: #efefef;
}

.article_line{
  border: 1px solid #efefef;
  padding: 10px;
}

.line_tag{
  display: none;
}

.data {
  display: none;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
  var line_id, dialog, form,
      tips = $( ".validateTips" );

  $("#force_refresh").click(function(){
    $.ajax({
      url: "/article/<%= article.article_id %>/refresh",
      success: function(){
        window.location = window.location
      }
    })
  });

  $(".upvote").click(function( e ){
    var line_id = $(e.target).attr('id');
    $.ajax({
      url: "/article/<%= article.article_id %>/line/"+ line_id +"/vote?direction=up",
      method: 'post',
      success: function( r ){
        // window.location = window.location
        console.log( r )
      }
    })
  });

  $(".downvote").click(function( e ){
    var line_id = $(e.target).attr('id');
    $.ajax({
      url: "/article/<%= article.article_id %>/line/"+ line_id +"/vote?direction=down",
      method: 'post',
      success: function(){
        // window.location = window.location
      }
    })
  });

  $( ".create-tag" ).button().on( "click", function( e ) {
    line_id = $(e.target).attr('id');
    //console.log( $(e).attr('id') );
		dialog.dialog( "open" );
	});

  $(".expander").on( "click", function( e ){
    var line_id = $(e.target).attr('id');
    // console.log( line_id );
    $("#data_"+ line_id).toggle();
  });

  $(".tagger select").on( "change", function( e ){
    var el = $(e.target);
    var digest = el.attr('digest');
    var line_id = el.attr('line_id'); 

    var tag_type = el.attr('tag_type');
    var tag_value = $("#"+ el.attr('id') +" option:selected").val();

    //console.log( tag_value );

    $.ajax({ 
      url: "/article/<%= article.article_id %>/line/"+ digest +"/tag",
      data: {
        line_id: line_id,
        tag_type: tag_type,
        tag_value: tag_value,
      },
      method: 'post',
      complete: function( res, s ){
        // window.location = window.location
      }
    });
  });

});
</script>

<table class="toolbar">
<tr>
  <td class="page_name"><%= article.data['article']['title'] %></td>
  <td class="page_tools"> <div>
  	<span id="force_refresh">Force refresh</span>
  </div> </td>
</tr>
</table>

<table id="header" class="display" cellspacing="0" width="100%">
<tr>
  <td><%= article.source %></td>
  <td><%= article.data['article']['authors'].join( ' and ' ) if article.data['article'].has_key?( 'authors' ) %></td>
  <td><%= Time.at(article.data['article']['update_time'].to_f).strftime( "%D %T" ) %></td>
  <td>Filler</td>
</tr>
</table>

<style>
table .line_details {
  width: 100%;
}
  table .line_details td {
    width: 25%;
    border: 1px solid #afafaf;
  }

  table .line_details .tag {
    border: 1px solid blue;
    margin: 2px;
    padding: 2px;
  }

  table .line_details .upvote {
    border: 1px solid green;
  }

  table .line_details .downvote {
    border: 1px solid red;
  }

  table td.body_opts{
    width: 20px;
  }

  table td.body_line{
    padding: 4px;
  }

  table td.occ_none{ border: 1px solid #ffffff; }
  table td.occ_low{ border: 1px solid #efefef; }
  table td.occ_medium{ border: 1px solid #afafaf; }
  table td.occ_high{ border: 1px solid #000000; }

</style>

<table id="body" class="display" cellspacing="0" width="100%">
<% article.get_body.each do |line| %>
<% occ = topic_occurance_map['map'].has_key?( line['digest'] ) ? topic_occurance_map['map'][line['digest']]['refs'].size : 0 %>
<% occ_level = if occ > 0 && occ < 4
  'occ_low'
elsif occ >= 4 && occ < 7
  'occ_medium'
elsif occ >= 7
  'occ_high'
else
  'occ_none'
end
%>
<tr>
  <td class="body_opts"><span id="<%= line['digest'] %>" class="expander">></span></td>
	<td class="body_line <%= occ_level %>"><%= line['body'] %></td>

</tr><tr>
  <td colspan="2" class="data" id="data_<%= line['digest'] %>">
  <table class="line_details">
  <tr>
    <td>
      <% tag_objects.select{|t| t['object_id'] == format('%s-%i-%s', article.article_id, line['line_id'].to_i, line['digest'] )}.each do |to| %>
      <% to['tags'].select{|t| t['tag_type'] == 'emotional' }.each do |tag| %>
  	    <span class="tag ui-corner-all"><%= tag['tag_value'] %> <span class="tag_rm">[x]</span> </span>
      <% end %>
      <% end %>

    </td><td>
      <% if session['user'] %>
        <span class="upvote" id="<%= line['digest'] %>">Upvote</span>
        <span class="downvote" id="<%= line['digest'] %>">Downvote</span>
      <% end %>

    </td><td class="tagger">
      <% if session['user'] %>
      <fieldset>
        <span>Misc:</span>
        <select id="tag_misc_<%= line['digest'] %>" line_id="<%= line['line_id'].to_i %>" digest="<%= line['digest'] %>" tag_type="misc" name="tag_type" class="text ui-widget-content ui-corner-all"> 
          <option selected value="nil">Select</option>
          <% Tags.get_tags( 'misc' ).each do |tag| %>
            <option value="<%= tag['name'] %>"><%= tag['display'] %></option>
          <% end %>
        </select>
      </fieldset>

      <fieldset>
        <span>Logical falicy:</span>
        <select id="tag_lf_<%= line['digest'] %>" line_id="<%= line['line_id'].to_i %>" digest="<%= line['digest'] %>" tag_type="logical_falicy" name="tag_type" class="text ui-widget-content ui-corner-all"> 
          <option selected value="nil">Select</option>
          <% Tags.get_tags( 'logical_falicy' ).each do |tag| %>
            <option value="<%= tag['name'] %>"><%= tag['display'] %></option>
          <% end %>
        </select>
      </fieldset>

      <fieldset>
        <span>Emotional:</span>
        <select id="tag_emote_<%= line['digest'] %>" line_id="<%= line['line_id'].to_i %>" digest="<%= line['digest'] %>" tag_type="emotional" name="tag_type" class="text ui-widget-content ui-corner-all"> 
          <option selected value="nil">Select</option>
          <% Tags.get_tags( 'emotional' ).each do |tag| %>
            <option value="<%= tag['name'] %>"><%= tag['display'] %></option>
          <% end %>
        </select>
      </fieldset>
      <% end %>
    </td>
  </tr>
  </table>
  </td>
<% end %>
</table>

<table>
<% summary_analysis['entities'].map{|e| e.merge({ 'salience' => e['salience'].to_f })}.sort{|a,b| b['salience'].to_f <=> a['salience'].to_f }.each do |e| %>
<tr>
  <td><%= e['name'] %></td>
  <td><%= e['salience'] %></td>
  <td><%= e['mentions'].size %></td>
</tr>
<% end %>
</table>
