<style>
.info_summary {
  display: none;
}

#topics {
  border: 1px solid #efefef;
}
  #topics tr th{
    color: #efefef;
    text-align: left;
    background-color: #000044;
  }

  #topics tr td{
  }

  #topics tr{
    background-color: #efefef;
  }
</style>

<script type="text/javascript">
$(document).ready(function(){
  $("#topics tr.data:even").css("background-color", "#efefef");
  $("#topics tr.data:odd").css("background-color", "#bfbfbf");

  $("#topics tr.data").hover(function(){
    $(this).css("background", "#aaa");
  },function(){
    $(this).css("background", "");
  });

  $(".more_info").click(function( e ){
    $("#article_"+ $(this).attr( "article_id" )).toggle({
      duration: 550
    });
  });

  $("#force_refresh").click(function(){
    $.ajax({
      url: "/topic/<%= topic.topic_id %>/refresh",
      success: function(){
        window.location = window.location
      }
    })
  });
});
</script>

<table class="toolbar">
<tr>
  <td class="page_name"><%= topic.topic_name %></td>
  <td class="page_tools"> <div>
    <a href="/topic/add_source?topic_id=<%= topic.topic_id %>">Add source article</a>
    | <span id="force_refresh">Force refresh</span>
    | <span><%= articles.size %></span>
  </div> </td>
</tr>
</table>

<% if topic_occurance_map != nil %>
<table id="topic_occurance_map">
  <% topic_occurance_map['map'].sort{|a,b| b[1]['refs'].size <=> a[1]['refs'].size }.to_h.each do |digest, i| %>
  <tr>
    <td><%= i['refs'].size %></td>
    <td><%= i['body'] %></td>
  </tr>
  <% end %>
</table>
<% end %>

<table id="topics" class="display" cellspacing="0" width="100%">
  <tr>
    <th>Title</th>
    <th>Source</th>
    <th>Score</th>
    <th>Magnitude</th>
  </tr>

  <% articles.sort{|a,b| b.magnitude <=> a.magnitude }.each do |article| %>
  <% next if !article.has_body? %>
  <tr class="data">
    <td><a href="/article/<%= article.article_id %>"><%= article.get_title %></a></td>
    <td> <a href="<%= article.url %>" target="_new"> <%= article.source %> </a> </td>
    <td><%= "%.3f" % article.score.to_f %></td>
    <td><%= "%.3f" % article.magnitude.to_f %></td>
  </tr> 
  <% end %>
</table>

<% if subject_importance_map != nil && subject_importance_map['map'] != nil %>
<h2>subject_importance_map</h2>
<% subject_importance_map['map'].each do |subject, info| %>
<div>
  <span><%= subject %> ( <%= '%.2f' % info['salience'] %> ): </span>
  <% info['mention_map'].sort_by{|k,v| v['cnt'].to_f }.reverse.to_h.each do |k,v| %>
    <span><%= k %> (<%= '%.2f' % v['cnt'] %> )</span>
  <% end %>
</div>
<% end %>
<% end %>
